
/* global variables should be set here! Will be inherited by all elements */

* {
     --main-color: #2079D7;
     --accent-color: orange;

     /* Widget Properties */

    --widget-background: none;

    --widget-title-height: 24px;
    --widget-title-font: 'Didact Gothic', sans-serif;
    --widget-title-color: #eee;
    --widget-title-background: #777;
    --widget-frame-color: #777;
    --widget-title-align: center;

        /* Widget contents properties */

    --margin-left: 40;
    --margin-right: 40;
    --margin-top: 40;
    --margin-bottom: 40;

    --space-left: 20;
    --space-right: 20;
    --space-top: 20;
    --space-bottom: 20;

    --frame: none;

    --direction: vertical;
    --x-axis: yes;
    --y-axis: yes;
    --axis-color: black;
    --left-tick-marks: 0;
    --right-tick-marks: 0;
    --bottom-tick-marks: 0;
    --left-scale: 0;
    --right-scale: 0;
    --bottom-scale: 0;
    --scale-font: 9pt Arial;
    --scale-offset: 10;
    
    --label-color: gray;
    --label-font: 12pt Arial;
    --draw-labels-x: no;
    --draw-labels-y: no;

    --spacing: 0.1;
 
    --color: black;
    --positive-color: green;
    --negative-color: red;

    --fill: darkgray;
    --line-width: 1;
    
    --decimals: 2;
    --min: 0;
    --max: 1;
    /*
    --color: var(--main-color), var(--main-color), gray, var(--main-color);
    --fill: var(--main-color), var(--main-color), gray, var(--main-color);
 
*/

    /* Breadcrumbs properties */

    --breadcrumb-height: 24px;
    --breadcrumb-gap: 3px;
    --breadcrumb-background-color: #2c2c2c;
    --breadcrumb-element-color: #5a5a5a;
    --breadcrumb-color: #e2e2e2;
    --breadcrumb-hover-color: #5a5a5a;
    --breadcrumb-active-color: #797979;



    --vertical-gridlines: 0;
    --horizontal-gridlines: 0;
    --vertical-gridlines-over: 0;
    --horizontal-gridlines-over: 0;
    --grid-color: lightgray;
    --grid-fill: lightgreen;
    --grid-line-width: 1;
    

}