/* Widget styling */


webui-widget-drop-down-menu {
    padding:5px;
}

webui-widget-drop-down-menu>select {
    width: 90%;
}

webui-widget-drop-down-menu>label {
}


webui-widget-table table {
    border-top: 1px solid gray;
    width: 100%;
}

webui-widget-table td {
    border-top: none;
    border-bottom: 1px solid gray;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}


/* Specific widgets - this could be included in the template instead for non-standard widgets */

/* h sliders */

.hranger {
    display: flex;
    flex-direction: column;
}

.hranger div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hranger .slider_label {
    font: 12px Arial, sans-serif;
    text-align:right;
    padding-right:10px;
    width: 100px;
    display: none;
}

.hranger  .slider_value {
    width: 50px;
    font: 12px Arial, sans-serif;
    text-align:right;
    padding-right:6px;
    display: none;
}

.hranger input {
    background: none;
}

.hranger input[type=range] {
    -webkit-appearance: none; /*removes default webkit styles*/
    width: 100%;
    height: 16px;
}

.hranger input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    background-image: -webkit-linear-gradient(top, #555, #aaa);
    border: 1px solid #ddd;
    border-radius: 13px;
}

.hranger input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 19px;
    width: 12px;
    border-radius: 10%;
    border: 1px solid #777;
    background-image: -webkit-linear-gradient(top, #888, #aaa, #555);
    margin-top: -7px;
    box-shadow: 2px 2px 5px #888888;
}

/* v sliders */

.vranger {
    display: flex;
    flex-direction: row;
}

.vranger div {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 10px;
    border: 1px solid green;
}

.vranger .slider_label {
    width: 200px;
    font: 12px Arial, sans-serif;
    display: none;
}

.vranger  .slider_value {
    width: 100px;
    font: 12px Arial, sans-serif;
    text-align:right;
    display: none;
}

.vranger input {
    background: none;
}

.vranger input[type=range] {
    -webkit-appearance: slider-vertical; /*removes default webkit styles*/
    width: 100%;
    height: 16px;
    border: 1px solid purple;
    transform: rotate(270deg);
}

.vranger input[type=range]::-webkit-slider-runnable-track {
/*
    height: 7px;
    background-image: -webkit-linear-gradient(top, #555, #aaa);
    border: 1px solid #ddd;
    border-radius: 13px;
    border: 1px solid blue;
*/
    width:400px;
}

.vranger input[type=range]::-webkit-slider-thumb {
/*
    -webkit-appearance: none;
    border: none;
    height: 19px;
    width: 12px;
    border-radius: 10%;
    border: 1px solid #777;
    background-image: -webkit-linear-gradient(top, #888, #aaa, #555);
    margin-top: -7px;
    box-shadow: -2px 2px 5px #888888;
    border: 1px solid red;
*/
}


/* Loader from Anastasiya Kuligina 29.06.2017 https://codepen.io/WebSonata/pen/bRaONB */
#loading-screen {
    overflow: hidden;
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1A2327;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #021878;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #494554;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #AEA9BA;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Overlay not used. Should it be removed? */
#WidgetOverlay
{       
    display: none; /* disable overlay */ 
    position: absolute;
    top:0; 
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.253);
    border: 1px solid black;
}

#WidgetOverlayText{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    height: auto;
}
