/* Default parameter values for widgets */



webui-widget-bar-graph {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;
}

webui-widget-bar-graph.orientation-vertical {
    --vertical-gridlines: 0;
    --horizontal-gridlines: 5;
    --draw-labels-x: yes;
    --left-scale: 5;
}

webui-widget-bar-graph.orientation-horizontal {
    --vertical-gridlines: 5;
    --horizontal-gridlines: 0;
    --draw-labels-y: yes;
    --bottom-scale: 5;
}

webui-widget-plot.orientation-vertical {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;

    --vertical-gridlines: 0;
    --horizontal-gridlines: 5;
    --draw-labels-y: yes;
    --left-scale: 5;
}

webui-widget-polar-plot {
    --margin-left: 10;
    --margin-right: 10;
    --margin-top: 10;
    --margin-bottom: 10;
}

webui-widget-surface-plot {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;
    --space-left: 0;
    --space-right: 0;
    --space-top: 0;
    --space-bottom: 0;
    --axis-color: #263238;
}

webui-widget-navigation-hud {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;
}

webui-widget-pan-tilt-hud {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;
}

webui-widget-plot.orientation-horizontal {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;

    --vertical-gridlines: 5;
    --horizontal-gridlines: 0;
    --draw-labels-x: yes;
    --bottom-scale: 5;
}


webui-widget-graph {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;

    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
    --x-axis: no;
    --y-axis: no;
    --left-scale: 5;
    --bottom-scale: 5;
}


webui-widget-image.scale_visibility-no {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 0;
    --space-right: 0;
    --space-top: 0;
    --space-bottom: 0;
    
    --x-axis: no;
    --y-axis: no;
}

webui-widget-image.scale_visibility-yes {
    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
    --vertical-gridlines-over: 5;
    --horizontal-gridlines-over: 5;
    --x-axis: no;
    --y-axis: no;
    --left-scale: 5;
    --bottom-scale: 5;
}

webui-widget-path {
}

webui-widget-vector-field {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;
}

webui-widget-vector-field.scale_visibility-no,
webui-widget-path.scale_visibility-no,
webui-widget-marker.scale_visibility-no,
webui-widget-grid.scale_visibility-no {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 0;
    --space-right: 0;
    --space-top: 0;
    --space-bottom: 0;
    
    --x-axis: no;
    --y-axis: no;
}

webui-widget-vector-field.scale_visibility-yes,
webui-widget-path.scale_visibility-yes,
webui-widget-marker.scale_visibility-yes,
webui-widget-grid.scale_visibility-yes {
    --left-scale: 3;
    --bottom-scale: 3;
    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
}


webui-widget-vector-field.scale_visibility-invisible,
webui-widget-path.scale_visibility-invisible,
webui-widget-marker.scale_visibility-invisible,
webui-widget-grid.scale_visibility-invisible {
    --left-scale: 3;
    --bottom-scale: 3;
    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
    --x-axis: no;
    --y-axis: no;
    --axis-color: transparent;
    --grid-color: transparent;
    --grid-fill: transparent;
}


webui-widget-marker {
    --flip-y-canvas: no;
}

webui-widget-grid {
}



webui-widget-drop-down-menu {
    padding:5px;
}

webui-widget-drop-down-menu>select {
    width: 90%;
}

webui-widget-drop-down-menu>label {
}


webui-widget-table table {
    border-top: 1px solid gray;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

webui-widget-table tr {
    border-bottom: 1px solid gray;
}

webui-widget-table td {
    border-top: none;
    border-bottom: none;
    text-align: right;
    font-size: 9pt;
    padding-left: 10px;
    padding-right: 10px;
}
