/* Default parameter values for widgets */



webui-widget-bar-graph {
}

webui-widget-bar-graph.direction-vertical {
    --vertical-gridlines: 0;
    --horizontal-gridlines: 5;
    --draw-labels-x: yes;
    --left-scale: 5;
}

webui-widget-bar-graph.direction-horizontal {
    --vertical-gridlines: 5;
    --horizontal-gridlines: 0;
    --draw-labels-y: yes;
    --bottom-scale: 5;
}

webui-widget-plot.direction-vertical {
    --vertical-gridlines: 0;
    --horizontal-gridlines: 5;
    --draw-labels-y: yes;
    --left-scale: 5;
}

webui-widget-plot.direction-horizontal {
    --vertical-gridlines: 5;
    --horizontal-gridlines: 0;
    --draw-labels-x: yes;
    --bottom-scale: 5;
}


webui-widget-graph {
    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
    --x-axis: no;
    --y-axis: no;
    --left-scale: 5;
    --bottom-scale: 5;
}


webui-widget-image.scales-no {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;
    
    --x-axis: no;
    --y-axis: no;
}

webui-widget-image.scales-yes {
    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
    --vertical-gridlines-over: 5;
    --horizontal-gridlines-over: 5;
    --x-axis: no;
    --y-axis: no;
    --left-scale: 5;
    --bottom-scale: 5;
}

webui-widget-path {
}

webui-widget-path.scales-no {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;
    
    --x-axis: no;
    --y-axis: no;
}

webui-widget-path.scales-yes {
    --left-scale: 3;
    --bottom-scale: 3;
    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
}


webui-widget-path.scales-invisible {
    --left-scale: 0;
    --bottom-scale: 0;
    --vertical-gridlines: 0;
    --horizontal-gridlines: 0;
    --x-axis: no;
    --y-axis: no;
}


webui-widget-marker {
    --flip-y-canvas: no;
}

webui-widget-marker.scales-no {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;
    
    --x-axis: no;
    --y-axis: no;
}

webui-widget-marker.scales-yes {
    --left-scale: 3;
    --bottom-scale: 3;
    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
}


webui-widget-marker.scales-invisible {
    --left-scale: 0;
    --bottom-scale: 0;
    --vertical-gridlines: 0;
    --horizontal-gridlines: 0;
    --x-axis: no;
    --y-axis: no;
}


webui-widget-grid {
}

webui-widget-grid.scales-no {
    --margin-left: 0;
    --margin-right: 0;
    --margin-top: 0;
    --margin-bottom: 0;

    --space-left: 10;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;
    
    --x-axis: no;
    --y-axis: no;
}

webui-widget-grid.scales-yes {
    --left-scale: 3;
    --bottom-scale: 3;
    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
}


webui-widget-grid.scales-invisible {
    --left-scale: 0;
    --bottom-scale: 0;
    --vertical-gridlines: 0;
    --horizontal-gridlines: 0;
    --x-axis: no;
    --y-axis: no;
}



webui-widget-drop-down-menu {
    padding:5px;
}

webui-widget-drop-down-menu>select {
    width: 90%;
}

webui-widget-drop-down-menu>label {
}


webui-widget-table table {
    border-top: 1px solid gray;
    width: 100%;
}

webui-widget-table td {
    border-top: none;
    border-bottom: 1px solid gray;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}


