/*
 *
 * Default Styling CSS
 *
 */


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 50px;
}

section {
    background:white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 500px;
}

main {
    flex: 1;
    overflow: hidden;
    position: relative;
 }

nav {
    order: -1;
    width: 300px;
    resize: horizontal;
    
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow-y: auto;
    overflow-x: hidden;

    display: none;
}

aside {
    flex: 0 0 300px;
    display: block; /* or none to hide */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background: white;
    border-left: 1px solid gray;
}

footer {
    border-top: 1px solid black;
    flex: 0 0 100px;
    
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow-y: auto;
    overflow-x: hidden;

    display: none;
}

table {
    table-layout: fixed;
}

td {
    word-wrap: break-word;
    white-space: pre-wrap;
/*    max-width: 200px; */
}

header {
    padding: 5px;
    border-bottom: 1px solid gray;
}

nav {
    padding: 10px;
    background: white;
    border-right: 1px solid gray;
}

nav li {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main {
    padding: 0px;
    background: white;
    
    /* global variables should be set here! Will be inherited by enclosed elements */

    --direction: vertical;

    --title-height: 35;
    --title-font: 18px Arial;
    --title-color: white;
    --title-background: black;
    --title-margins: no;
    --title-align: center;
    --title-offset: 10, -5;

    --margin-left: 40;
    --margin-right: 10;
    --margin-top: 10;
    --margin-bottom: 30;

    --space-left: 20;
    --space-right: 10;
    --space-top: 10;
    --space-bottom: 10;

    --frame: none;

    --vertical-gridlines: 5;
    --horizontal-gridlines: 5;
    --grid-color: lightgray;        /*  #00000000 for none  */
    --grid-fill: lightgreen;
    --grid-line-width: 1;
    
    --x-axis: yes;  /* width? color? */
    --y-axis: yes;
    --axis-color: black;
    --left-tick-marks: 5;
    --right-tick-marks: 3;
    --bottom-tick-marks: 3;
    --left-scale: 3;
    --right-scale: 0;
    --bottom-scale: 3;
    --scale-font: 11px Arial;
    --scale-offset: 10;
    
    --labels: yes;
    --label-color: gray;
    
    --spacing: 0.2;
 
    --color: darkgray;
    --positive-color: green;
    --negative-color: red;

    --fill: darkgray;
    --line-width: 1;
    
    --decimals: 2;
    --min: 0;
    --max: 1;
}

main[data-mode="edit"] {
    background: lightyellow;
}


/* Inspector Styles */

aside table {
    width: 100%;
    margin: 5px;
}

aside table td.header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

aside table td.textedit {
    border: 1px solid gray;
}

div {
    color: white;
    padding: 10px;
    font: 12px Arial;
}

div.frame {
    /* style for the enclosing frame of widgets here */
    border: 1px solid black;
    background: none;
}


webui-widget-table div {
    height: 35px;
    padding: 0;
}

table {
    width: 100%;
}

td {
    text-align: right;
}

_webui-widget-canvas {
    --color: yellow;
    --line: yellow;
    --fill: yellow;
    --line_width: 10px;
    --line_dash: none;
    --line_cap: butt;
    --line_join: miter;
    --miter-limit: 10;
    --line_arrow_end: none;
    --line_arrow_start: none;
    --size: 1.0;
    --scale: 1.0;
    --offset: 0;
    --offset_x: 0;
    --offset_y: 0;
    --orientation: horizontal;
    --font_size: 12pt;
    --decimals: 2;
    --select: 0;
    --order: row;
}

_webui-widget-bar-graph {

}

webui-widget-button button {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

/*
 *
 *  MAIN AREA
 *
 */


/* Basic style for frame object */

.frame {
    position: absolute;
    top: 10;
    left: 10;
    z-index: 200;
    width: 101px;
    height: 101px;
    border: 1px solid black;
    overflow: hidden;
    background-color: none;
    cursor: move;
}

.frame:hover {
}

.dragged, .resized {
    border-color: black;
}

.dragged, .resized {
    box-shadow: 4px 4px 4px lightgray;
}


.selected {
    border: 1px solid black;
}


.selected .handle,
.dragged .handle,
.resized .handle {
    display: block;
}


.handle {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    display: none;
    background-color: gray;
    cursor: se-resize;
}


/*
.frame:hover .handle,
.dragged .handle,
.resized .handle {
    display: block;
}


/* Style for grid */

main[data-mode="run"] div#grid {
    display: none;
}

main[data-mode="edit"] div#grid {
    display: block;
}

.vgrid {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    border-left: 1px solid lightblue;
}

.hgrid {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid lightblue;
}

.frame:after {content: attr(data-name);}


#system_inspector {
    display: none;
}
