
.object_background
{
    position: absolute;
    border-radius: 11px;
    background-color: #1D1D1D;
    overflow: hidden";
}

.object_title
{
    position: absolute;
    left: 0px;
    top: 0px;
    color: #BABABA;
    font-family: sans-serif;
    font-size: 11px;
    text-indent: 10px;
    line-height: 23px;
    overflow: hidden;
}

.object_titlebar
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 22px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    opacity: 0.5;
    text-indent: 10px;
    line-height: 23px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

